main{
	margin-top: 10vh;
	margin-left: 5vw;
}
main .shownot{
	color: #000;
	font-family: abel;
}
@media(max-width: 500px){
	main{
		margin-left: 0vw !important;

	}
	.allbudgets{
		width: 100% !important;
    margin-left: 0% !important;
	}
}
a{
	color: inherit;
	text-decoration: none;
}
.budget.col-md-8.text-center {
    margin-top: 5vh;
}
.btn-add{
outline: none;
    background: #d18;
    color: #fff;
    margin: 0 auto;
    border: none;
    border-radius: 50%;
    padding: 20px;
    margin: 10px;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10%;
    bottom: 10%;
    transition: .4s;
    box-shadow: 0px 11px 20px -9px rgba(0, 0, 0, 0.7)
}
.logout{
	
	position: absolute;
	right: 5%;
	display: none;
}
.btn-add:hover{
	background: #fff;
	color: #d18;
}
.btn-add i{
	font-size: 21px;
}
.allbudgets{
	margin-top: 3vh;
	width: 90%;
	border-radius: 15px;
	padding: 20px;
}
.hero-wrap{
	position: fixed;
	z-index: 10;
	overflow:scroll;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-bottom: 10vh;
}
.topnav{
	display: none;

}
#supnote{
	color: #d18;
	font-family: abel;
	font-size: 12px;
}
.budget {
	padding-top: 15px;
	/*border-top: 1px solid #000;*/
	padding: 10px;
	transition: .5s;
	cursor: pointer;
	overflow: hidden;
	/*background: rgba(0,0,0,0.1);*/
}
.budget:last-of-type{
	border-bottom: 1px solid lightgrey;
	border-width: 50%;
}
.budget .itemname{
	color: #000;
	font-family: acme;

}
.budget:hover{
	background: rgba(0,0,0,0.1);

}
.budget .itemprice{
	color: #d18;
	float: right;
	font-weight: bold;
	font-family: abel;
}