body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 @font-face {
      font-family: 'Lato';
     
      src:url('css/fonts/Lato-Black.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
 @font-face {
      font-family: 'Abel';
     
      src:url('css/fonts/Abel/Abel-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
     @font-face {
      font-family: 'Acme';
     
      src:url('css/fonts/Acme/Acme-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
     @font-face {
      font-family: 'Bebas';
     
      src:url('css/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
     @font-face {
      font-family: 'DancingScript';
     
      src:url('css/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    span.itemname.loading {
    color: #d18 !important;
    animation-name:load;
    animation-iteration-count: infinite;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    opacity: 0;
}
.sharemain{
    margin-right: 5vw !important;
    margin-left: 5vw !important;

}
  @media(max-width: 500px){
    .desktop{
      display: none;
    }
  }
  .shared {
    margin-left: 0 !important;
    width: 100% !important;
  }
@keyframes load{
  0%{
      opacity:0.6;
      color: #d18;
  }
  50%{
    color: #000;
    opacity: 0.8;
  }
  80%{
    color: #5cb;
    opacity:1;
  }
  100%{
    opacity: 0.2;
    color: #d18;
  }
}
.reviewtb{
  width: 100%;
  margin: 10px;
}
.reviewtb tr {
  border-bottom: 2px solid #d18;
}
.bell{
  position: absolute;
  right: 15%;
  display: none;
  font-weight: 300;
    font-size: 20px;
    color: #ffffff;
  padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    font-family: acme;
    white-space: nowrap;
}
.col-md-6.bbtn {
    color: #fff;
    font-size: 15px;
    font-family: lato;
    font-weight: 100;
    letter-spacing: 1px;
    transition: .3s;
    padding: 10px;
    cursor: pointer;
}
.bbtn.using {
  background: #ffffff !important;
  color: #d18 !important;

  border-bottom:1px solid #d18;
}
.icon{
  font-size: 22px;
}
main nav{
  position: fixed;
    top: 9%;
    background: #d18;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
}
.com{
  display: flex;
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

.bbtn.using:hover{
   background: #d18 !important;
   color: #ffffff !important;
}
.bbtn:hover{
  background: #ffffff !important;
  color: #d18 !important;
}